:root{
  --blue:red;
}

$primary-color: #2C8C37ff;
$secondary-color: #4E6163ff;

//HEADER...
.q-header {
  background-image: linear-gradient(to left, $primary-color, #fff);
  //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: $primary-color;
}

.q-tabs {
  color: $primary-color;
}

.q-toolbar, h1, h2, h3, h4, h5, h6, .q-tabs {
  font-family: "Paytone One", "Arial Black", sans-serif;
}

.q-toolbar {
  display: flex;
  align-items: flex-start;
}

.q-tab-panel{
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.toolbar-travelpics {
  color: $primary-color;
  //text-shadow: -1px -1px 0 #0c638c, 1px -1px 0 #0c638c, -1px 1px 0 #0c638c, 1px 1px 0 #0c638c;
  font-size: 30px;
}

// TAB SETUP...
.q-tabs {
  font-weight: bolder;
}

//favorite star icon - yellow
.star-yellow .q-tab__icon, .star-yellow .q-icon {
  color: yellow;
}

.q-tab__label {
  text-align: left;
}

// ALL TRIPS TAB...

.sort-form {
  background-color: $primary-color;
  border-radius: 25px;
}

.q-field__control-container{
  .q-field__native {
    span {
      color: white;
    }
  }
  .q-field__label{
    color: white;
  }
}
.q-field__append{
  .q-icon{
    color: white;
  }
}


//trip header bar labels
.block{
  font-weight: bold;
  margin-right: 0;
  padding-right: 30px;
  font-size: 14px;
}

.sort-hdr-title{
  padding-left: 15px;
}

.q-item__section--side{
  align-items: flex-start;
}

.trip-title{
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}


//MEMORIES AND TRIP NOTES SECTION:
.captains-log, .photo-groups{
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  top-margin: 0;
  top-padding: 0;
}

.q-expansion-item__content{
  padding-left:100px;
  padding-right:100px;
  padding-bottom:25px;
}

.log{
  border: $secondary-color 1px solid;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.edit-delete-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 60px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
//ALL TRIPS TAB: Photo Groups Text
.header-bar{
  background-color: $primary-color;
  color: white;
}

.photo-group{
 text-align: center;
}

.q-btn__content .block{
color: $primary-color;
}

.photo-group-box{
  display: flex;
  justify-content: center;
}

.photo-group, .q-carousel{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: $secondary-color;
}


//ALL TRIPS TAB: qty of photos in photo group
.add-photo-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 25px;

}

.q-carousel {
  padding: 5px;
  height: 250px;
}

.text-h6 {
  padding: 5px;
  font-weight: bolder;
  color: white;
  font-size: 10px;
}

.absolute-bottom {
  display: flex;
  justify-content: center;
}

.uploaders {
margin:50px 50px 50px 25px;
}

.add-photo-group{
  margin: 50px 50px 25px 50px;
}

.q-input{
  color: $primary-color;
}

.q-icon, {
  color: $primary-color;
}

//ALL TRIPS: Trip Description labels
.q-field__label {
  color:$primary-color;
}

//ALL TRIPS: camera icon color
.add-group-all-trips{
  color: $secondary-color;
  padding: 0;
  margin-left: 15px;
}

//FAVORITES TAB...
//favorite star icon

.fav-trip{
  display: flex;
  align-items: self-start;
}

.q-field__native {
  color: $primary-color;
  display: flex;
  justify-content: flex-end;
}

//ADD A TRIP TAB
#form-id * {
  font-size: 10px;
  color: $secondary-color;
  line-height: 10px;
  margin: 0;
}

.q-field__native{
  margin:0;
  padding: 10px;
}

.btn-submit-div-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-new-trip{
  background-color: lightgray;
  color: white;
}

.q-date__header-title, .q-date__header-subtitle{
  color: $secondary-color;
  font-weight: bolder;
}

info-gather{
  align-content: flex-end;
}

//FOOTER
.footer-end{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $primary-color;
}

.footer-title{
  font-size: 10px;
}

//New Photo Group Drop-Down Name label
//.q-field__control{
//  color: grey;
//}
