//HEADER...
.q-header {
  background-image: linear-gradient(to left, #02a0e7, #fff);
  //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #02a0e7;
  font-weight: bolder;
}

.q-toolbar {
  display: flex;
  align-items: flex-start;
}

.q-tab-panel{
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.toolbar-travelpics {
  color: #02a0e7;
  //text-shadow: -1px -1px 0 #0c638c, 1px -1px 0 #0c638c, -1px 1px 0 #0c638c, 1px 1px 0 #0c638c;
  font-size: 48px;
  font-family: "Bookman Old Style";
  font-style: italic;
  font-weight: bolder;
}

.account-avatar-btn {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  vertical-align: top;
}

.account-avatar{
  font-size: 80px;
}
// TAB SETUP...
.q-tabs {
  font-weight: bolder;
}

//favorite star icon - yellow
.star-yellow .q-tab__icon, .star-yellow .q-icon {
  color: yellow;
}

.q-tab__label {
  text-align: left;
}

// ALL TRIPS TAB...

//trip header bar labels
.block{
  font-weight: bold;
  margin-right: 0;
  padding-right: 30px;
  font-size: 14px;
}

.sort-hdr-title{
  padding-left: 15px;
}

.q-item__section--side{
  align-items: flex-start;
}

.trip-title{
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
  color: grey;
}

.q-expansion-item__container{
  background-color: rgba(2, 160, 231, 0.1);;
}

//MEMORIES AND TRIP NOTES SECTION:
.captains-log, .photo-groups{
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  top-margin: 0;
  top-padding: 0;
}

.q-expansion-item__content{
  padding-left:100px;
  padding-right:100px;
  padding-bottom:25px;
}

.log{
  border: darkgrey 1px solid;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.edit-delete-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 60px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
//ALL TRIPS TAB: Photo Groups Text
.header-bar{
  background-color: rgba(2, 160, 231, 0.2);
}

.photo-group{
 text-align: center;
}

.q-btn__content .block{
color: #02a0e7;
}

.photo-group-box{
  display: flex;
  justify-content: center;
}

.photo-group, .q-carousel{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: grey;
}


//ALL TRIPS TAB: qty of photos in photo group
.add-photo-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 25px;

}

.q-carousel {
  padding: 5px;
  height: 250px;
}

.text-h6 {
  padding: 5px;
  font-weight: bolder;
  color: white;
  font-size: 10px;
}

.absolute-bottom {
  display: flex;
  justify-content: center;
}

.uploaders {
margin:50px 50px 50px 25px;
}

.add-photo-group{
  margin: 50px 50px 25px 50px;
}

.q-input{
  color: #3e92cc;
}

.q-icon, {
  color: #3e92cc;
}

//ALL TRIPS: Trip Description labels
.q-field__label {
  color:#3e92cc;
}

//ALL TRIPS: camera icon color
.add-group-all-trips{
  color: grey;
  padding: 0;
  margin-left: 15px;
}

//FAVORITES TAB...
//favorite star icon

.fav-trip{
  display: flex;
  align-items: self-start;
}

.q-field__native {
  color: black;
  display: flex;
  justify-content: flex-end;
}

//ADD A TRIP TAB
#form-id * {
  font-size: 14px;
  color: grey;
  line-height: 16px;
  margin: 0;
}

.q-field__native{
  margin:0;
  padding: 10px;
}

.btn-submit-div-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-new-trip{
  background-color: darkgrey;
  color: white;
}

.q-date__header-title, .q-date__header-subtitle{
  color: white;
  font-weight: bolder;
}


//FOOTER
.footer-end{
  display: flex;
  align-items: center;
  text-align: center;
}

.footer-title{
  font-size: 10px;
}

//New Photo Group Drop-Down Name label
//.q-field__control{
//  color: grey;
//}
